body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

#app {
  padding: 15px;
}

#battle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 45%;
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.vs {
  font-size: 20px;
  opacity: 0.6;
}

button {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
